{% extends "!layout.html" %}

{% block extrahead %}
   <meta name="google-site-verification" content="j4hCo0t6GR5vApCuqjSQO_x2QhciBBRdhTPTHbTvUuI" />
    <<meta name="msvalidate.01" content="D5A5909342D175ECDD7E4665C7D97FAF" />
    <meta name="description" content="Log in to the UnitedHealthcare (UHC) Provider Portal at provider.uhc.com. Check claims, verify member eligibility, submit prior authorizations, and manage your practice easily." />
    <meta name="keywords" content="UHC provider login, UnitedHealthcare provider portal, provider.uhc.com, One Healthcare ID, UHC claims, UHC eligibility check, UnitedHealthcare login" />
    <meta name="robots" content="index, follow" />
    <title>UnitedHealthcare Provider Login – Access Claims, Eligibility & More</title>
    {{ super() }}
{% endblock %}
